/TestNasa.v12.suo.BASE.suo
/TestNasa.v12.suo.LOCAL.suo
/TestNasa.v12.suo.REMOTE.suo
/TestNasa/obj/Release/Package/PackageTmp/Content/legal-pad.jpg
/TestNasa/obj/Release/Package/PackageTmp/Scripts/ShellFunctions.js
