@switch ((int)ViewBag.Nav_A)
{
    case 1:
        //FUNDOSCOPY
        switch ((int)ViewBag.Nav_B)
        {
            case 1:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Overview
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                    break;
            case 2:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Items
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                The CellScope
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 3) { WriteLiteral(" header_l3_selected"); }">
                Imaging
            </div>
            <script>var nav_l3_max = 3; var previous_l3_max = 1;</script>
                                  break;
            case 3:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Room & Subject
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                CellScope
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 3;</script>
                                  break;
            case 4:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Video
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Step-by-step
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 2;</script>
                                  break;
            case 5:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Tips
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 2;</script>
                                  break;
            case 6:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Quiz
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                  break;
            case 7:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Pathology
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                  break;
        }
        break;
    case 2:
        //Kidney/Bladder
        switch ((int)ViewBag.Nav_B)
        {
            case 1:
                <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                    Overview
                </div>
                <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                      break;
            case 2:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Probe handling
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Concepts
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 3) { WriteLiteral(" header_l3_selected"); }">
                Imaging
            </div>
            <script>var nav_l3_max = 3; var previous_l3_max = 1;</script>
                                  break;
            case 3:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Room & subject
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Ultrasound machine
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 3;</script>
                                  break;
            case 4:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Right Kidney
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Left Kidney
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 3) { WriteLiteral(" header_l3_selected"); }">
                Horizontal Bladder
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 4) { WriteLiteral(" header_l3_selected"); }">
                Vertical Bladder
            </div>
            <script>var nav_l3_max = 4; var previous_l3_max = 2;</script>
                                  break;
            case 5:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Normal Kidney
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Abnormal Kidney
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 3) { WriteLiteral(" header_l3_selected"); }">
                Normal Bladder
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 4) { WriteLiteral(" header_l3_selected"); }">
                Abnormal Bladder
            </div>
            <script>var nav_l3_max = 4; var previous_l3_max = 4;</script>
                                  break;
            case 6:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Quiz
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                  break;
        }
        break;
    case 3:
        //Intubation
        switch ((int)ViewBag.Nav_B)
        {
            case 1:
                <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                    Overview
                </div>
                <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                      break;
            case 2:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Airway management
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                ILMA
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 1;</script>
                                  break;
            case 3:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Room & subject
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Equipment
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 2;</script>
                                  break;
            case 4:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Video
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Step-by-step
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 2;</script>
                                  break;
            case 5:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Quiz
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 2;</script>
                                  break;
            case 6:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Tips
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                  break;
        }
        break;
    case 4:
        //IV Insertion
        switch ((int)ViewBag.Nav_B)
        {
            case 1:
                <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                    Overview
                </div>
                <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                      break;
            case 2:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Quick start
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Probe handling
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 3) { WriteLiteral(" header_l3_selected"); }">
                Imaging
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 4) { WriteLiteral(" header_l3_selected"); }">
                Needle handling
            </div>
            <script>var nav_l3_max = 4; var previous_l3_max = 1;</script>
                                  break;
            case 3:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Subject
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Ultrasound machine
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 3) { WriteLiteral(" header_l3_selected"); }">
                Procedure supplies
            </div>
            <script>var nav_l3_max = 3; var previous_l3_max = 4;</script>
                                  break;
            case 4:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Video
            </div>
            <div class="header_l3 @if (ViewBag.Nav_C == 2) { WriteLiteral(" header_l3_selected"); }">
                Step-by-step
            </div>
            <script>var nav_l3_max = 2; var previous_l3_max = 3;</script>
                                  break;
            case 5:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Quiz
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 2;</script>
                                  break;
            case 6:
            <div class="header_l3 @if (ViewBag.Nav_C == 1) { WriteLiteral(" header_l3_selected"); }">
                Troubleshooting
            </div>
            <script>var nav_l3_max = 1; var previous_l3_max = 1;</script>
                                  break;
        }
        break;
    case 5:
        //PATIENT DATA
        break;
}